HOST=0.0.0.0
PORT=3000
WS_PATH=/ws
TOR_ENABLED=true
TOR_SOCKS_HOST=127.0.0.1
TOR_SOCKS_PORT=9050
IRC_HOST=
IRC_PORT=6667
IRC_TLS=false
IRC_TLS_REJECT_UNAUTHORIZED=true
APP_ACCESS_TOKEN=
ALLOW_CLIENT_IRC_SETTINGS=true
MAX_TEXT_LEN=900
MAX_NICK_LEN=24
